@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.locationc{
    color: #fff;
    font-size: 22px;
}
.weather{
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}

.search-bar input{
    height: 50px;
    border: none;
    border-radius: 40px;
    outline: none;
    padding-left: 25px;
    color: #626262;
    background: #ebfffc;
    font-size: 18px;
}

.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}

.iconi{
    width: 100px;
    margin: 30px, 0;
}

.temperature{
    color: #fff;
    font-size: 80px;
    line-height: 1;
}

.location{
    color: #fff;
    font-size: 40px;

}

.locationa {
    color: #fff;
    font-size: 18px;
}

.info {
    color: #fff;
    font-size: 15px;
}


.ll{
    color: #fff;
    font-size: 15px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.hw{
    display: block;
    font-size: 16px;
    color: #fff;
}

.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}


.body{
    background: url("../assets/background.jpg");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

